#agdglist {
  background-color: white;
  padding: 36px 30px 0;
}

#agdglist p {
  margin: 23px 0 0;
}

#agdglist.row .col {
  margin: 0 0 56px;
}

#agdglist.row .col .card {
  border: 0;
  margin: 0 0 23px;
  padding: 0;
}

#agdglist.row .col .card .bgimage {
  background-size: cover;
  padding-top: 0;
}

#agdglist.row .col .card .bgimage .titlecolorband {
  display: flex;
  background-color: rgba(174, 45, 13, 0.81);
  margin: auto;
  padding: 7px 35px 0;
  height: 85px;
}

#agdglist.row .col .card .bgimage .titlecolorband h4 {
  color: white;
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  margin: auto;
}

#agdglist.row .col .card .card-body {
  padding: 0;
}

#agdglist.row .col .card a {
  color: #ff651e;
  transition: .9s ease-in-out;
}

#agdglist.row .col .card a:hover {
  color: #ff1e00;
}

#agdglist.row .col .card a span.atsymbol {
  color: hotpink;
}

#agdglist.row .col .card a.presenter {
  text-decoration: none;
  float: right;
  transition: 1.66s ease-in-out;
}

#agdglist.row .col .card a.presenter:hover {
  color: hotpink;
}

#agdglist.row .col .card a.presenter:hover span.atsymbol {
  color: #ff651e;
}

#agdglist.row .col .card a.presenter:hover span.atsymbol:hover {
  transition: .66s;
  color: hotpink;
}

#agdglist.row .col .card a.button {
  background-color: #282c33;
  border-color: #ff7300;
  color: #ff651e;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding: 10px 64px;
  text-align: center;
  transition: .3s ease-in;
}

#agdglist.row .col .card a.button:visited {
  color: white;
}

#agdglist.row .col .card a.button:hover {
  background-color: white;
  border-color: #ff1e00;
  color: hotpink;
}

@media screen and (max-width: 575px) {
  #agdglist.row {
    padding: 0 37px 30px;
  }
  #agdglist.row.row {
    padding: 0;
  }
  #agdglist.row.row .card {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #c9c9c9;
  }
  #agdglist.row.row .card .bgimage {
    background: none !important;
    padding-top: 0;
  }
  #agdglist.row.row .card .bgimage .titlecolorband {
    background: none;
    margin: 0;
    padding: 0;
    height: auto;
  }
  #agdglist.row.row .card .bgimage .titlecolorband h4 {
    color: rgba(231, 148, 23, 0.8);
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    margin: 25px 0 0;
  }
  #agdglist.row.row .card .card-body {
    padding: 0;
  }
  #agdglist.row.row .card a.button {
    padding: 10px 44px;
    margin: 25px auto;
    width: auto;
  }
}
